body {
  
  list-style: none;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  padding: 30px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
  margin-right: 15px;
  background-color:#487f5a;
  padding: 5px 10px ;
  border-radius: 5px;
  
}
.nav-link a{
  color: white;
}

.quote-detail{
  text-decoration: none;
  color: black;
}

.quote-detail :hover {
  text-decoration :underline;
}